@model Projeto_MVC.Models.Cliente

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DataCadastro" />

            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"> Nome Cliente</label>
                <input asp-for="NomeCliente" class="form-control" required />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TipoCliente" class="control-label mt-3"> Tipo Cliente</label>
                        <input asp-for="TipoCliente" class="form-control" required />
                        <span asp-validation-for="TipoCliente" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        <label asp-for="NomeContato" class="control-labe mt-3 l"> Nome Contanto</label>
                        <input asp-for="NomeContato" class="form-control" required />
                        <span asp-validation-for="NomeContato" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        <label asp-for="TelefoneContato" class="control-label mt-3"> Telefone Contato</label>
                        <input asp-for="TelefoneContato" class="form-control" required />
                        <span asp-validation-for="TelefoneContato" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        <label asp-for="Cidade" class="control-label mt-3"> Cidade</label>
                        <input asp-for="Cidade" class="form-control" required />
                        <span asp-validation-for="Cidade" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">

                        <label asp-for="Bairro" class="control-label mt-3"> Bairro</label>
                        <input asp-for="Bairro" class="form-control" required />
                        <span asp-validation-for="Bairro" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        <label asp-for="Logradouro" class="control-label mt-3"> Logradouro </label>
                        <input asp-for="Logradouro" class="form-control" required />
                        <span asp-validation-for="Logradouro" class="text-danger"></span>

                    </div>
                </div>
            </div>

            <div class="form-group mt-5">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a asp-action="Index" role="button" class="btn btn-secondary" class="ms-5">Voltar</a>
            </div>
        </form>
    </div>
</div>

