USE [master]
GO

CREATE DATABASE [dbTeste]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbTeste', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dbTeste.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbTeste_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dbTeste_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbTeste].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbTeste]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeCliente] [varchar](100) NOT NULL,
	[TipoCliente] [varchar](100) NOT NULL,
	[NomeContato] [varchar](100) NOT NULL,
	[TelefoneContato] [varchar](30) NOT NULL,
	[Cidade] [varchar](100) NOT NULL,
	[Bairro] [varchar](100) NOT NULL,
	[Logradouro] [varchar](100) NOT NULL,
	[DataCadastro] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imoveis](
	[Valor] [decimal](18, 2) NULL,
	[Cidade] [varchar](255) NULL,
	[Bairro] [varchar](255) NULL,
	[Logradouro] [varchar](255) NULL,
	[idImoveis] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idImoveis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([Id], [NomeCliente], [TipoCliente], [NomeContato], [TelefoneContato], [Cidade], [Bairro], [Logradouro], [DataCadastro]) VALUES (2, N'Hercules', N'Cassy', N'Sub-Exs', N'899-853-6449', N'Baishuitan', N'Clyde Gallagher', N'10207 Twin Pines Hill', CAST(N'2022-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Cliente] ([Id], [NomeCliente], [TipoCliente], [NomeContato], [TelefoneContato], [Cidade], [Bairro], [Logradouro], [DataCadastro]) VALUES (3, N'Denyse', N'Shanks', N'Solarbreeze', N'459-247-3791', N'Sholokhove', N'Sachtjen', N'600 Burning Wood Hill', CAST(N'2022-11-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Cliente] ([Id], [NomeCliente], [TipoCliente], [NomeContato], [TelefoneContato], [Cidade], [Bairro], [Logradouro], [DataCadastro]) VALUES (6, N'Bryana', N'Stanier', N'Konklux', N'433-236-2295', N'Riangderi', N'Sloan', N'635 Thackeray Plaza', CAST(N'2022-05-07T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[alterar]
(
@id int,
@NomeCliente varchar(255),
@TipoCliente VARCHAR (100),
@NomeContato VARCHAR (100),
@TelefoneContato VARCHAR (30),
@Cidade VARCHAR (100),
@Bairro VARCHAR (100),
@Logradouro VARCHAR (100),
@DataCadastro DateTime
)
as
Begin
update Cliente set NomeCliente = @NomeCliente, 
TipoCliente = @TipoCliente, 
NomeContato = @NomeContato,
TelefoneContato = @TelefoneContato,
Cidade = @Cidade,
Bairro = @Bairro, 
Logradouro = @Logradouro, 
DataCadastro = @DataCadastro
where Id = @id

End
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[cadastro]
(
@NomeCliente varchar(255),
@TipoCliente VARCHAR (100),
@NomeContato VARCHAR (100),
@TelefoneContato VARCHAR (30),
@Cidade VARCHAR (100),
@Bairro VARCHAR (100),
@Logradouro VARCHAR (100),
@DataCadastro Datetime
)
as
Begin
insert into Cliente values(
@NomeCliente, 
@TipoCliente,
@NomeContato,
@TelefoneContato,
@Cidade,
@Bairro,
@Logradouro,
@DataCadastro)

End

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[consultar]
(
@id int
)
as
Begin
select * from Cliente where Id = @id

End

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[consultarTodos]

as
Begin
select * from Cliente 

End

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[excluir]
(
@id int
)
as
Begin
Delete from Cliente where Id = @id

End

GO
USE [master]
GO
